<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">生年月日総合分析</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>生年月日分析
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BList">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>総合分析履歴
            </NavLink>
        </div>
    </nav>
</div>

