@page "/BList"

<PageTitle>総合分析履歴データベース</PageTitle>

<h2>総合分析履歴データベース</h2>

@if (analyticalPersons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>No</th> <!-- 'ID'を'No'に変更 -->
                <th>氏名</th>
                <th>生年月日</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in analyticalPersons.Select((value, index) => new { Index = index + 1, Value = value }))
            {
                <tr>
                    <td>@person.Index</td>
                    <td><a href="Detail/@person.Value.id">@person.Value.fullName</a></td>
                    <td>@person.Value.birth.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
@inject HttpClient httpClient

@code {
    private AnalyticalPerson[]? analyticalPersons;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpClient = new HttpClient();
            analyticalPersons = await httpClient.GetFromJsonAsync<AnalyticalPerson[]>("https://localhost:7165/AnalyticalPerson");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    public class AnalyticalPerson
    {
        public int id { get; set; }
        public string fullName { get; set; }
        public DateTime birth { get; set; }
        public int type { get; set; }
        public int ownerID { get; set; }
    }
}
