@page "/login"

<h3>ログイン</h3>
<a class="btn btn-primary" href="@lineLoginUrl">LINEでログイン</a>


@code {
    private string lineLoginUrl = "https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=2003996418&redirect_uri=https://localhost:7145/Auth/callback&state=123abc&scope=openid%20profile";

}
